@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<style>
    a:hover{
        transition:all 0.5s ease-in-out;
        color:red;
    }
</style>
<div class="col-md-3" style="background-color: #f0f4f3;height: 100%;position: fixed;width: 100%;right: 0;">
    <a class="nav-link text-dark" href="admin/product/index"  style="display: inline-block;color: blue;">مدیریت محصولات</a>
    <a class="nav-link text-dark" href="admin/ProductGroup/index">گروه بندی محصولات</a>
    <a class="nav-link text-dark" href="admin/ProductFeature/index">درجه بندی محصولات</a>
</div>
 
